@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.navbar {
  z-index: 500;
  position: fixed;
  /* Set the navbar to fixed position*/
  top: 10px;
  left: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.logo {
  width: 85px;
  height: 35px;
}

.gooey-menu {
  position: relative;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.gooey-menu .button {
  position: relative;
  margin: 0;
  height: 40px;
  width: 40px;
  border: 1px solid #ff0000;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}

.gooey-menu .button:not(:first-child) {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
  right: 0;
  height: 0;
  width: 0;
  opacity: 0.5;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.gooey-menu .button:not(:first-child) i {
  font-size: 20px;
  color: #ff0000;
}

.gooey-menu .button:nth-child(3) {
  z-index: 3;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.gooey-menu .button:nth-child(4) {
  z-index: 2;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.gooey-menu .button:nth-child(5) {
  z-index: 1;
  -webkit-transition: all 1.8s;
  transition: all 1.8s;
}

.gooey-menu .button .burger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 3px;
  width: 20px;
  border-radius: 0.15em;
  background: #ff0000;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gooey-menu .button .burger:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 20px;
  background: #ff0000;
  z-index: 10;
  top: calc(50% - 10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gooey-menu .button .burger:after {
  content: '';
  position: absolute;
  height: 3px;
  width: 20px;
  background: #ff0000;
  z-index: 10;
  top: calc(50% + 6px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gooey-menu .checkbox:checked ~ label .button .burger {
  top: 50%;
  height: 0;
}

.gooey-menu .checkbox:checked ~ label .button .burger:before,
.gooey-menu .checkbox:checked ~ label .button .burger:after {
  top: calc(50% - 2px);
}

.gooey-menu .checkbox:checked ~ label .button .burger:before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.gooey-menu .checkbox:checked ~ label .button .burger:after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.gooey-menu .checkbox:checked ~ .button:not(:first-child) {
  top: 0;
  height: 40px;
  width: 40px;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.gooey-menu .checkbox:checked ~ .button:nth-child(3) {
  right: 55px;
}

.gooey-menu .checkbox:checked ~ .button:nth-child(4) {
  right: 110px;
}

.gooey-menu .checkbox:checked ~ .button:nth-child(5) {
  right: 165px;
}

.navbarAndLandingicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.navbarAndLandingicons .landingIcons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* height: 83.5vw; */
}

.navbarAndLandingicons .landingIcons .mountainBackground {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbarAndLandingicons .landingIcons .landingCenter {
  /* position: absolute;
			top: 15%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
}

.navbarAndLandingicons .landingIcons .landingCenter .badge {
  width: 20vw;
  max-width: 274px;
  max-height: 274px;
  top: 12%;
}

.navbarAndLandingicons .landingIcons .landingCenter .redHokkaido {
  max-width: 475px;
  margin: 15px auto;
  padding: 10px;
}

.navbarAndLandingicons .landingIcons .landingCenter .redHokkaido .hokkaidoText {
  color: #FFFFFF;
  background-color: #FF0000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding: 10px 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.navbarAndLandingicons .landingIcons .landingCenter .landingNavIcons {
  width: 291px;
  height: 50px;
}

.landing_text {
  position: relative;
  width: 100%;
}

.landing_text_img {
  width: 10.5vw;
  position: absolute;
  top: 28%;
  left: 11%;
}

.landing_text_box {
  width: 95%;
  max-width: 50%;
  margin: 8rem auto 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 2em;
  color: #394B54;
}

.landing_text_box::first-letter {
  font-size: 72px;
  color: #ff0000;
  font-family: 'Montserrat', sans-serif;
  float: left;
  line-height: 1em;
  padding-right: 10px;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pics {
  margin-top: 5vw;
}

.pics img {
  width: 100%;
}

.pics p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #959595;
  margin: 1.5vw auto;
  width: 90%;
}

.main_text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-break: break-word;
  -webkit-hyphens: manual;
      -ms-hyphens: manual;
          hyphens: manual;
}

.main_text_container h1 {
  font-family: 'Montserrat', sans-serif;
  color: red;
  font-size: 48px;
  letter-spacing: -0.04em;
  line-height: 1.3em;
  margin: auto;
  padding-bottom: 1.5vw;
  padding-top: 1.5vw;
  width: 50%;
}

.main_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 2em;
  color: #394B54;
  margin: 1.5vw auto;
  width: 50%;
}

.bigicons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

@media screen and (min-width: 0px) and (max-width: 750px) {
  .main_text_container h1 {
    font-size: 200%;
    width: 70%;
  }
}

@media screen and (min-width: 0px) and (max-width: 750px) {
  .main_text {
    font-size: 100%;
    width: 70%;
  }
}

@media screen and (min-width: 0px) and (max-width: 750px) {
  .pics p {
    font-size: 70%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 4px solid #D6D6D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */