$font-color: #333;

.nav {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  // border: 1px solid red;

  @media screen and (max-width: 640px) {
    padding: 0 1rem;
  }
  
  &_hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 1.5rem;
    height: 3rem;
    cursor: pointer;

    @media screen and (max-width: 640px) {
      display: flex;
    }
    
    &_line {
      // position: relative;
      width: 100%;
      height: 2px;
      background-color: $font-color;
      transition: width .25s ease-in-out;
      transition: all .25s ease-in-out;
      transform-origin: 2px 1px;

      &:not(:last-child) {
        margin-bottom: 0.3rem;
      }
    }
  }

  &_menu {
    display: flex;
    
    @media screen and (max-width: 640px) {
      position: absolute;
      top: 100%;
      left: -101%;
      width: 100%;
      flex-direction: column;
      align-items: center;
      transition: left 0.5s ease-in-out;
      // border: 1px solid red;
    }

    a {

      position: relative;
      display: inline-block;
      text-decoration: none;
      color: $font-color;
      padding: 0.8rem 0.1rem;
  
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 0;
        height: 2px;
        background:$font-color;
        transition: width 0.25s ease-in-out
      }
  
      &:hover {
  
        &::after {
          width: 100%;
        }
      }
  
      &:not(:last-child) {
        margin: 0 .5rem 0 0;

        @media screen and (max-width: 640px) {
            margin: 0;
            padding: 0.8rem 0 0 0;
        }
      }
    }
  }

  &.active > .nav_menu {
    left: 0;
  }

  &.active > .nav_hamburger .nav_hamburger_line:first-child {
    transform: rotate(45deg);
  }

  &.active > .nav_hamburger .nav_hamburger_line:nth-child(2) {
    width: 0;
  }

  &.active > .nav_hamburger .nav_hamburger_line:last-child {
    transform: rotate(-45deg);
  } 

}