.landing_text {
  position: relative;
  width: 100%;

  &_img {
    width: 10.5vw;
    position: absolute;
    top: 28%;
    left: 11%;
  }

  &_box {
    width: 95%;
    max-width: 50%;
    margin: 8rem auto 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 2em;
    color: #394B54;
  
    &::first-letter {
      font-size: 72px;
      color: #ff0000;
      font-family: 'Montserrat', sans-serif;
      float: left;
      line-height: 1em;
      padding-right: 10px;
    }
  }
}
