.navbarAndLandingicons {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;

	.landingIcons {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		/* height: 83.5vw; */
		

		.mountainBackground {
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
		
		.landingCenter {
			/* position: absolute;
			top: 15%; */
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 8rem;

			.badge {
				width: 20vw;
				max-width: 274px;
				max-height: 274px;
				top: 12%;
			}
	
			.redHokkaido {
				max-width: 475px;
				margin: 15px auto;
				padding: 10px;
	
				.hokkaidoText {
				color: #FFFFFF;
				background-color: #FF0000;
				font-family: 'Montserrat', sans-serif;
				font-size: 24px;
				padding: 10px 20px;
				letter-spacing: 1px;
				margin-bottom: 20px;
				}
			}
	
			.landingNavIcons {
				width: 291px;
				height: 50px;
			}
		}

	}	
} 